body {
	margin: 0;
	padding: 0;
	background-color: rgb(242,242,242);
}
.t-t {
	width: 100%;
	height: 80px;
	background-color: rgba(255,255,255,1);
	border-bottom: 1px solid rgb(200,200,200);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}
.logo {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.logo img {
	float: left;
	width: 150px;
	height: 50px;
	margin: 15px;
}
.t-t .logo ul {	
	list-style: none;
	float: right;
}
.logo li {
	display: inline-block;
}
.logo li a {	
	margin-left: 30px;
	color: #000;
	line-height: 60px;
	text-decoration: none;
}
.logo .l-a {
	color: #16b0dc;
}
.logo li a:hover {
	color: #16b0dc;
}
.main {
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
	width: 1200px;
	height: 1640px;
}
h1 {
	color: #F67A82;
	font-weight: normal;
	margin-bottom: 40px;
}
.main .m-l {
	display: inline-block;
	float: left;
	width: 820px;
	height: 1480px;
	background-color: #fff;
	padding: 30px;
	text-align: center;

}
.yu {
	display: inline-block;	
	width: 820px;
	height:210px;
	border-bottom: 1px solid rgb(200,200,200);
	margin-bottom: 30px;
}
.yu .y-img {
	width: 150px;
	height: 110px;
}
.yu img {
	margin-right: 20px;	
	width: 170px;
	height: 170px;
}
.yu .y-text {
	margin-top: -130px;
	float: right;
	width: 630px;
	height: 120px;
	display: inline-block;
}
.y-text p .icon-ai-eye {
	margin-right: 6px;
}
p {
	color: rgb(150,150,150);
	text-align: left;
	line-height: 22px;

}
.yu .y-text a,.m-r a {
	text-decoration: none;
	color: rgb(100,100,100);
}
.yu .y-text a:hover,.m-r a:hover {
	color: #62a8ea;
	text-decoration: underline;
}
.yu .y-text h2 {
	text-align: left;
	font-weight: normal;
}
.m-l ul {
	list-style: none;
	margin: 0 auto;
}
.page a {
	display: inline-block;
	border: 1px solid rgb(200,200,200);
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: rgb(150,150,150);
	text-decoration: none;
	margin-left: -5px;
}
.page a:nth-child(2) {
	border-left: 0;
	border-right: 0;
	background-color: rgb(248,104,103);
	color: #fff;
	width: 40px;
}
.page a:nth-child(3),.page a:nth-child(4) {
	border-right:0;
	width: 40px;
}


.main .m-r {
	text-align: left;
	display: inline-block;
	width: 240px;
	height: 325px;
	background-color: #fff;
	float: right;
	padding: 15px;
}
.m-r input {
	width: 225px;
	height: 30px;
	border: 1px solid rgb(200,200,200);
	border-radius: 30px;
	padding-left: 15px;
	outline: none;
}
dl {
	width: 240px;
	height: 215px;
	margin: 20px auto;
	border-top: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
}
h3 {
	font-weight: normal;
}
dd {
	line-height: 40px;
	margin-left: 0px;
	padding-left: 20px;
	border: 1px solid rgb(200,200,200);
	color: rgb(100,100,100);
}
dl>dd:nth-child(2),dl>dd:nth-child(3) {
	border-bottom: 0;
}
.footer {
	margin-top: 20px;
	padding-top: 20px;
	width: 100%;
	height: 150px;
	background-color: rgb(245,245,245);
	text-align: center;	
}
.footer a {
	color: #62a8ea;
	text-decoration: none;
}
.footer p {
	text-align: center;
	line-height: 10px;
}
.footer p a .icon-weixin {
	font-size: 40px;
	color: rgb(131,185,68);	
}
.footer p a .icon-qq,.footer p a .icon-youxiang {
	font-size: 40px;
	margin-left: 20px;
}